@font-face {
  font-family: Crete;
  src: url(../fonts/CreteRound.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins.ttf);
  font-style: normal;
}

@font-face {
  font-family: Crete;
  src: url(../fonts/CreteRound-i.ttf);
  font-style: italic;
}

html,
body {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

img {
  border-radius: 3rem;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  pointer-events: none;
}

h1 {
  font-weight: normal;
  font-family: Crete;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-family: Crete;
  text-align: center;
  font-size: 2.35rem;
}

p {
  text-indent: 12.5%;
  font-family: Poppins;
  font-size: 1.5rem;
}

article,
section {
  margin-inline: 12.5%;
}

.button {
  border-radius: 3rem;
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  background-color: #dc3e26;
  padding: 1rem;
  padding-inline: 2rem;
  text-align: center;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-family: Poppins;
  font-size: 1.5rem;
}

.alt {
  background-color: white;
  color: #dc3e26;
  font-weight: bold;
}

.alt:active {
  background-color: #fccec7;
}

.button:hover {
  padding-inline: 3rem;
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: contrast(1.25);
          filter: contrast(1.25);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  color: white;
  background: #dc3e26;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #dc3e26), color-stop(80%, #eaeaea), color-stop(95%, white));
  background: linear-gradient(180deg, #dc3e26 80%, #eaeaea 80%, white 95%);
}

header img {
  margin: 1rem;
  max-width: 40%;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  padding-bottom: 10%;
}

header div h1 {
  margin: 0px;
}

gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

gallery div {
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.28);
  border-radius: 3rem;
  padding: 2rem;
  background-color: #dc3e26;
}

gallery div h2 {
  margin: 0px;
}

separator {
  width: 120%;
  z-index: 99;
  -webkit-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
  margin-block: -0.025rem;
}

separator path {
  fill: #252525;
}

.dark {
  padding-block: 3rem;
  background-color: #252525;
  margin: 0px;
  padding-inline: 12.5%;
  color: white;
}
/*# sourceMappingURL=style.css.map */